body {  
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  border-bottom: 1px solid grey;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
}

#header ul {
  max-width: 1000px;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;  
  padding: 0;
}

#header ul li {  
  float: left;
}

#header ul li p {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  width: 125px;
}

#header ul li a:link {
    text-decoration: none;
    color: black;
}
#header ul li a:visited {
  text-decoration: none;
  color: black;
}

li a:hover {
    text-decoration: none;
}

#header ul li a:active {
    text-decoration: none;
}

#main > button > span {
  padding: 5px;
}

#signin-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  max-width: 100px;
  position: fixed;  
}

#signin-menu li {
  display: block;
  padding: 5px 0px;
  width: 125px;
  margin: 0;
  margin-top: -1px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

#main > button {
  padding: 0;
}

.twitterLogIn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-item:hover {
  background: #e5e5e5;
}

.hidden {
  display: none;
}

.show {
  display: block;
}