body {  
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  background-color: grey;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  max-width: 1000px;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;  
  
}

li {  
  float: left;
}

li p {
  margin: 0;
  padding: 15px 25px;
}
