body {  
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  background-color: grey;
}

#main {
  border: 1px solid black;
  max-width: 1000px;
  margin: auto;
}

ul {

  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;   
}

li {  
  float: left;
}

li p {
    padding: 15px 25px;
}
